.card {
    width: 18rem;
}
#table-checkout {
    width: 50%;
    margin: auto;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 3px;
}
.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}