@media screen and (max-width: 600px) {
    #wallet {
        width: 100% !important;
    }
    #wallet .card-body .card-title {
        font-size: 15px;
      }
    #wallet .card-body .card-subtitle {
      font-size: 20px;
    }
}